

.popup {
    width : 50vw;
    border: 1px solid grey;
    border-radius: 2%;
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    margin-top: 0;
}

.words {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 5px;
}

.word {
    border: 1px solid grey;
    border-radius: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
